<div class="tenday">
    <% data.daily.data.forEach(function(val,ind,arr) { %>
      <h3><%= new Date(val.time * 1000).toDateString().slice(0,-5) %><h3>
      <h4>High <%= Math.round(val.temperatureMax) %> at <%= val.temperatureMaxHour %></h4>
      <h4>Low <%= Math.round(val.temperatureMin) %> at <%= val.temperatureMinHour %></h4>
    	<h4><%= val.precipProbability * 100 %>% chance of precip</h4>
    	<h4><%= Math.round(val.windSpeed) %>mph <%= val.windDirection.trim() %></h4>
	<% }) %>
</div>
